.contact {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  border: 1px solid orange;
  padding: 2px;
  border-radius: 4px;
  margin-bottom: 4px; 
  max-width: 280px;
}

.infoButton {
  display: flex;
  border: 1px solid rgb(77, 77, 80);
  border-radius: 5px;
  justify-content: space-between; 
  width: 276px;
  align-items: center;
  padding-right: 8px;
}

.info {
  flex: 1;
  display: block;
  column-gap: 0;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 8px;
  justify-content: center;
}

.user,
.phone {
  background-color: white;
  display: flex;
  align-items: stretch;
  align-items: center;
  text-align: left;
  max-height: 30px; 
  padding-left: 4px;
}

.name {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px; 
}

.icon {
  margin-right: 5px; 
}

.deleteButton {
  color: #181616;
  padding: 5px 10px;
  cursor: pointer; 
  font-size: 14px;
  height: 30px;
}

